.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    " main";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
  scrollbar-color: rgba(18, 61, 145, 1) transparent;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
  width: 0;
}

.main::-webkit-scrollbar-thumb {
  background: rgba(18, 61, 145, 1);
  border-radius: 2px;
}
@media (min-width: 640px) {
  .layout {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "navbar header"
      "navbar main";
  }
  .backdrop {
    background: radial-gradient(
      75.93% 75.93% at 13.92% 23.07%,
      #0056ff 0%,
      #ff3800 100%
    );
    filter: blur(500px);
    z-index: -1;
  }
  .navbar {
    grid-area: navbar;
  }
}
